Data.rar
Audio/OotF/Voices/Covenant/Infantry/Elites/Elite_Talking_SFX_Main.wav
Audio/OotF/Voices/Covenant/Infantry/Elites/Elite_Death_SFX_Main.wav
Audio/OotF/Voices/Covenant/Infantry/Elites/Elite_SFX_TEST_Success.wav
Audio/OotF/AmbientSFX/Ambient_ATC .wav
Art/Movies/Binked/UNSC_INTRO.bik
Art/Movies/Binked/HRIntroVideo.bik
Art/Movies/Binked/HRIntroVideo.bik
Art/Movies/Binked/HRIntroVideo.bik
Art/Movies/Binked/HRIntroVideo.bik
Art/Movies/Binked/HRIntroVideo.bik
